.seatable-app-gallery .gallery-settings-container {
  width: 300px;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .seatable-app-gallery  .gallery-settings-container {
    float: right;
  }
}

.seatable-app-gallery .gallery-settings-header {
  height: 50px;
  padding-left: 20px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

.seatable-app-gallery .gallery-settings-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 10px;
  overflow: auto;
}

.seatable-app-gallery .gallery-settings-content .setting-item {
  margin-bottom: 14px;
  padding: 0 10px;
}

.seatable-app-gallery .gallery-settings-content .setting-item .title {
  margin-bottom: 10px;
}

.seatable-app-gallery .gallery-settings-content .field-settings .field-settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 0 10px;
}

.field-settings .field-settings-header .setting-choose-all {
  color: #ff8000;
  font-size: 12px;
  cursor: pointer;
}

.field-settings .field-settings-body > div {
  position: relative;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  display: flex;
  padding: 0 10px;
  border-radius: 4px;
}

.field-settings .field-settings-body > div:hover {
  background: #f0f0f0;
}
