html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: auto;
}

#root, #wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.seatable-app-gallery {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
}

.seatable-app-gallery .seatable-app-gallery-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 300px;
  border-right: 1px solid #e4e4e4;
  overflow: auto;
}

.seatable-app-gallery .seatable-app-gallery-settings {
  width: 300px;
  min-width: 300px;
}

.seatable-app-gallery .gallery-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 16px;
  height: 50px;
  background: #fff;
}

.seatable-app-gallery .gallery-main-header .gallery-name {
  display: flex;
  align-items: center;
  margin-right: 30px;
  height: 50px;
}

.seatable-app-gallery .gallery-main-header .gallery-name .logo-icon {
  width: 24px;
  height: 24px;
}

.seatable-app-gallery .gallery-main-header .gallery-name > span {
  padding-right: 10px;
}

.seatable-app-gallery .gallery-name .gallery-app-table-rename-container span {
  display: block;
  max-width: 300px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.seatable-app-gallery .gallery-name .gallery-app-table-rename-container .dtable-icon-rename {
  color: #999;
}

.seatable-app-gallery .gallery-name .gallery-app-table-rename-container .dtable-icon-rename:hover {
  color: #666;
  cursor: pointer;
}

.seatable-app-gallery .gallery-main-header .gallery-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.seatable-app-gallery .gallery-main-header .gallery-options .option-item:first-child {
  margin-right: 10px;
}

.seatable-app-gallery .gallery-main-content {
  flex: 1;
  display: flex;
  min-height: 0;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  text-align: center;
  padding: 10px;
}

.tip-message {
  margin-left: 12px;
  font-size: 12px;
  color: #999;
  width: max-content;
  white-space: nowrap;
}

.dtable-antd-mobile .am-action-sheet-body .am-action-sheet-button-list .am-action-sheet-button-list-item {
  padding: 0;
}

.dtable-antd-mobile .am-action-sheet-button-list .am-action-sheet-button-list-item {
  padding: 0 16px;
  height: 44px;
  line-height: 44px;
  color: #212529;
  font-size: 16px;
  overflow-y: hidden;
}

.dtable-antd-mobile .am-action-sheet-button-list {
  text-align: left;
  color: #212529;
}

.dtable-antd-mobile .am-action-sheet-button-list .am-action-sheet-button-list-item .dtable-font {
  color: #888;
  font-size: 20px;
  margin-right: 16px;
}

.my-am-action {
  padding: 0 16px;
}

.am-list-item .am-list-line .am-list-content {
  color: #212529;
}

@media (max-width: 768px) {
  .seatable-app-gallery .seatable-app-gallery-settings {
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .seatable-app-gallery .gallery-name .gallery-app-table-rename-container span {
    max-width: 220px;
  }
}
