.share-link-dialog {
  height: auto;
  max-width: 652px;
}

.share-link-dialog .share-link-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  padding-bottom: 1rem;
}

.share-link-dialog .share-link-info {
  width: calc(100% - 198px);
  padding: 0 16px;
  border-right: 1px solid #e9ecef;
}

.share-link-dialog .share-link-qrcode {
  height: 100%;
  width: 198px;
  padding: 30px 0;
  font-size: 12px;
  text-align: center;
}

.share-link-dialog .share-link-info .share-item {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.share-link-dialog .share-link-info .share-item-icon {
  font-size: 20px;
  color: #999;
}

.share-link-dialog .share-link-info .share-item-text {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.share-link-dialog .share-link-info .share-link {
  width: 100%;
  background: #fafafa;
  border: 1px solid rgba(0, 40, 100, 0.12);
  padding: 10px;
  border-radius: 3px;

}

.share-link-dialog .share-link-info .share-link-content {
  display: inline-block;
  width: 100%;
  color: #ff8000;
  cursor: pointer;
}

.share-link-dialog .share-link-info .share-link-content:hover {
  text-decoration: underline;
}

.share-link-dialog .share-link-description {
  color: #444;
  font-size: 13px;
}

.share-link-dialog .share-link-app-name {
  color: #000;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom
}

.share-link-dialog .share-link-btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 14px;
}

.share-link-dialog .share-link-qrcode .share-link-qrcode-content {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #e9ecef;
  padding: 9px;
}

.share-link-dialog .share-link-qrcode .share-link-qrcode-tip {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.share-link-dialog .share-link-qrcode-tip .qrcode-tip-content {
  display: inline-block;
  max-width: 100%;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #444;
}
